@import '~react-calendar/dist/Calendar.css';

body {
  margin: 0;
  padding: 0;
}

.primeiro{
  height: 9vh;
  background-color: #ffcceb;
  width: 100%;
  display: flex;
  box-shadow: 0 4px 8px rgba(136, 74, 136, 0.13);
}

.primeiro img{
  height: 10vh;
  margin-left: 40px ;
}

.lado {
  /*estilo da navbar lateral */
  height: 100%;
  width: 20%;
  position: fixed;
  background-color: #ffd3ee;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotoperfil img{
     width: 120%; 
     height: 100%; 
     border-radius:50%;
     max-height: 100px; 
     max-Width:100px; 
}

.lembretes {
  height: 20vh;
  width: 70%;
  background-color: rgb(218, 132, 206);
  text-align: center;
  color: rgb(34, 34, 34);
  margin-bottom: 20px;
  border-radius: 10%;
  border: 3px #9c1385 dashed;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.botao-salvar,
.botao-cancelar {
  padding: 5px 13px;
  margin-left: 4px;
  cursor: pointer;
  background-color: #af4c96;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 5px;
}

.mensagemm {
  flex: 1;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #c732d4;
  border-radius: 4px;
  width: 80%;
}

#mensagem {
  margin-top: 8px;
  font-size: 14px;

}

.outrolado {
  display: block;
  padding-left: 30%;
  padding-top: 2%;
  width: 30%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(231, 213, 235);
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(94, 89, 89, 0.1);
  max-width: 200px;
  width: 100%;
  color: rgb(61, 61, 61);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal h2 {
  margin-top: 0;
}

.modal button {
  height: 25px;
  width: 60px;
  background-color: #af4c9691;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
}

.modal input {
  height: 4vh;
  font-size: 12px;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
}

.react-calendar__tile--active,
.react-calendar__tile--hasEvent {
  background-color: #e4a7f7 ;
  /* Cor de destaque para dias com eventos */
  color: #fff ;
  /* Cor do texto para dias com eventos */
}

.deletar{
  border: none;
  background-color: #af4c9600;
  margin-left: 10px;
}

.deletar:hover{
  background-color: #ff2f2f3f;
  border-radius: 50%;
  
}

.react-calendar {
  font-family: 'Arial', sans-serif;
  background-color: #ffe3f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Estilos para os dias do calendário */
.react-calendar__tile {
  border: none;
  padding: 0.75em;
  cursor: pointer;
}
.react-calendar__tile:hover {
  background-color: #ff8ff6;
}

/* Estilo para os dias do calendário quando ativo (selecionado) */
.react-calendar__tile--active {
  background-color: #a44edd;
  color: #fff;
}


/* Estilo para o cabeçalho do calendário */
.react-calendar__navigation {
  background-color: #9034db46;
  color: #fff;
}

/* Estilo para os botões de navegação do calendário */
.react-calendar__navigation__arrow {
  background-color: #ac34db;
}

/* Estilo para os botões de navegação do calendário quando hover */
.react-calendar__navigation__arrow:hover {
  background-color: #a129b9;
}

.outrolado2{
  margin-left: 60%;
  width: 40%;
  margin-top: -270px;
}

.outrolado2 h1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#taskInput {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  margin-bottom: 5px;
}



.deleteTask {
  margin-left: 40px;
  cursor: pointer;
}

.listaa{
  height: 4vh;
  width: 50%;
  margin-left: 70px;
  font-size: 14px;
}

.bot{
  height: 4.5vh;
  background-color: #ae81b3;
  font-size: 14px;
  color: white;
}

.bot:hover{
  background-color: #af4c96;
  color: whitesmoke;
}

.listinha{
  margin-left: 66px;
}